@model IEnumerable<WebApplication1.Models.Center>
<h1 id="abouth1">About Shauli</h1>
<section id="aboutSection">
    <p>
        Shauli is a great spirit mentor.<br />
        Shauli has alot of life experience and that's what make him a grate mentor.<br />
        This blog is manage by shauli trained guides and it's purpose is to inspire<br />
        and to spread shauli view of life.<br />
        Shauli also get frontal meetings in his own worldwide Network Centers which are locate in main cities all over Europe.
    </p>

    <canvas id="myCanvas" width="218" height="327">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
</section>

<h3 id="maph3">Sahuli Centers Locations</h3>
<div style="margin-bottom:20px;">
    <div id="map" style="width:50%;height:300px;display:inline-block;">

    </div>

    <div style="float:right">
        @foreach (var c in Model)
        {
            <p>@c.Country  @c.City <br/> @c.Address  @c.Phone</p>
        }
    </div>
</div>



